body {
    font-family: "Roboto Mono", monospace;
    background: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#main-card {
    display: flex;
    justify-content: space-around;
}

#temp-card {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    .card-temp-zone {
        border: 1px solid antiquewhite;
        border-radius: 10px;
        width: 150px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        .poker-card {
            // width: 100%;
            position: relative;
            z-index: 10;
            img{
                width: 100%;
                pointer-events: none;
            }
            .poker-card{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &.card-done-zone {
            position: relative;
            &::before {
                content: "A";
                color: antiquewhite;
                position: absolute;
                // width: 50px;
                // height: 50px;
                text-align: center;
                line-height: 220px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                font-size: 80px;
                opacity: 0.3;
            }
        }
    }
}

.card-col {
    position: relative;
    height: 1200px;
    width: 150px;
    user-select: none;
    .poker-card {
        position: absolute;
        left: 0;
        border-radius: 10px;
        // border: 1px solid #333;
        // width: 150px;
        // height: 220px;
        //transition-duration: .5s;
        top: 0;
        opacity: 0;
        // overflow: hidden;
        @for $i from 1 through 20 {
            &:nth-of-type(#{$i}) {
                top: #{$i*40}px;
            }
        }
        img{
            pointer-events: none;
            width: 100%;
        }
        .poker-card{
            @for $i from 1 through 20 {
                &:nth-of-type(#{$i}) {
                 top: #{$i*40}px;
                }
            }
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    h1 {
        color: antiquewhite;
    }
    #time {
        width: 100px;
        height: 100px;
        background: rgb(209, 39, 23);
        color: #fff;
        text-align: center;
        line-height: 100px;
        border-radius: 50%;
    }
    #play-btn {
        width: 80px;
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        letter-spacing: 2px;
        background: #666;
        color: antiquewhite;
        cursor: pointer;
    }
    i {
        cursor: pointer;
        padding: 0 5px;
        color: aliceblue;
    }
}
